In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("zoo.csv")

In [12]:
df.sample(2)

   animal  uniq_id  water_need
18   lion     1019         390
15   lion     1016         420

In [13]:
zoo_eats = pd.DataFrame([['elephant','vegetables'], ['tiger','meat'], ['kangaroo','vegetables'], ['zebra','vegetables'], ['giraffe','vegetables']], columns=['animal', 'food'])

In [15]:
zoo_eats

     animal        food
0  elephant  vegetables
1     tiger        meat
2  kangaroo  vegetables
3     zebra  vegetables
4   giraffe  vegetables